<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - API</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        Owner : <input type="text" data-bind="value: Owner" />
        Content: <input type="text" data-bind="value: Content" />
                 <input type="button" data-bind="click: Send" value="Send Message">
        
        <table class="table table-striped">
            <tbody data-bind="foreach: Messages">
                <tr>
                    <td data-bind="text: Owner"></td>
                    <td data-bind="text: Content"></td>
                </tr>
            </tbody>
        </table>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        var count = 0;
        var chat = $.connection.chatHub;

        chat.client.getMessage = function (message) {
            viewModel.Messages.push(message);
        }

        $.connection.hub.start();

        var viewModel = {
            Id: ko.observable(),
            Owner: ko.observable(),
            Reciever: ko.observable(),
            Content: ko.observable(),
            Messages: ko.observableArray([]),

            Send: function () {
                chat.server.sendMessage({ Id: count, Owner: this.Owner(), Reciever: "admin", Content: this.Content() });
                count++;
            }
        };

        ko.applyBindings(viewModel);

    </script>
</body>
</html>
